html, body {
  margin: 0;
  padding: 0;
}

body {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

.wrapper {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.main-header {
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active), input[type="checkbox"].visually-hidden, input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font: inherit;
  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;
  border: none;
}

.main-header-logo {
  position: absolute;
  left: 50%;
  margin-left: -69px;
  top: 0;
  width: 138px;
  height: 70px;
}

.main-navigation {
  position: relative;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.site-navigation {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}

.site-navigation li {
  width: 240px;
  padding-top: 14px;
  padding-bottom: 16px;
}

.site-navigation li:nth-child(3), .site-navigation li:last-child {
  text-align: right;
}

.site-navigation li:first-child {
  margin-left: 72px;
}

.site-navigation li:last-child {
  padding-right: 72px;
}

.site-navigation li:nth-child(3) {
  margin-left: auto;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover, .site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-navigation-current a {
  color: #766357;
}

.picture img {
  display: block;
  margin: 0 auto;
  width: 458px;
  height: 352px;
}

.picture {
  min-height: 432px;
  padding-top: 76px;
  margin-bottom: 59px;
  background-size: 1200px 57px, cover;
  background-color: #6e95bb;
  background-image: url("../img/background-zigzag.png"), url("../img/background-photo.jpg");
  background-position: center bottom, center -57px;
  background-repeat: no-repeat;
}

.description {
  display: block;
  width: 560px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 26px;
  padding-top: 1px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
}

.description+p {
  margin: 0;
  padding: 0;
  margin-bottom: 52px;
  line-height: 26px;
  text-align: center;
}

.reason-block, .reason-block-invert {
  display: flex;
  flex-wrap: wrap;
}

.reason {
  width: 400px;
}

.reason-picture {
  width: 800px;
  min-height: 256px;
}

.reason-picture img {
  display: block;
  width: 800px;
  height: 256px;
}

.reason-special {
  padding-top: 47px;
  color: #ffffff;
  background-color: #81b3d2;
}

.reason-title {
  margin: 0;
  padding: 0 120px;
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.reason-special>.reason-title {
  color: #ffffff;
}

.reason p:nth-child(2) {
  margin-top: 24px;
  margin-bottom: 21px;
  text-align: center;
}

.reason p:nth-child(3) {
  margin: 0;
  padding: 0;
  text-align: center;
}

.reason p:last-child {
  margin: 0;
  text-align: center;
}

.reason-features ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  list-style: none;
}

.feature-item {
  position: relative;
  width: 400px;
  padding-top: 161px;
  text-align: center;
}

.feature-item::before {
  content: "";
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translateX(-50%);
}

.feature-item-house::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item-souvenirs::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature-item p {
  margin: 0;
  padding: 0;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 22px;
  margin-bottom: 81px;
  text-align: center;
}

.reason-others {
  background-color: #eeeeee;
  display: flex;
  flex-flow: row nowrap;
  padding-top: 47px;
  padding-bottom: 60px;
  margin-bottom: 49px;
}

.reason-others p {
  margin: 0;
  padding: 0;
}

.search b {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  color: #000000;
}

.search b+p {
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 47px;
  line-height: 24px;
}

.button-search {
  width: 568px;
  padding: 30px 10px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  background-color: #766357;
  cursor: pointer;
}

.button-search:hover, .button-search:focus {
  background-color: #604e43;
}

.button-search:active {
  color: #928a85;
  background-color: #503e33;
}

.main-footer {
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  line-height: 26px;
  color: #000000;
}

.footer-index {
  position: absolute;
  z-index: 20;
  width: 1200px;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.footer-hashtag {
  margin: 0;
  padding: 0;
  width: 400px;
  font-size: 21px;
  font-weight: 700;
  text-align: center;
}

.footer-social {
  width: 400px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 160px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.footer-social li {
  margin-right: 4px;
  margin-left: 2px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  color: #000000;
  background-color: #81b3d2;
}

.social-button:hover, .social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: rgba(255, 255, 255, 0.3);
}

.footer-copyright {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 400px;
}

.footer-copyright span {
  width: 78px;
}

.copyright-link {
  width: 115px;
  height: 44px;
  margin-left: 6px;
}

.copyright-link:hover path, .copyright-link:focus path {
  fill: #81b3d2;
}

.copyright-link:active path {
  fill: #bdbbbc;
}

/* форма поиска */

.search {
  position: relative;
  z-index: 20;
  margin: 0 auto;
  width: 568px;
  text-align: center;
}

.search-info {
  position: absolute;
  display: none;
  z-index: 11;
  width: 100%;
  margin: 0 auto;
  padding: 55px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  box-sizing: border-box;
}

.modal-show {
  display: block;
  animation: fallout 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/*Анимация формы*/

@keyframes fallout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  10%, 30%, 50%, 70%, 90% {
    transform: translateX(-10px);
  }
  20%, 40%, 60%, 80% {
    transform: translateX(10px);
  }
}

.form-date {
  width: 458px;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

.form-date label {
  width: 112px;
}

.form-date input {
  padding: 0 10px;
  width: 308px;
  height: 38px;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.search-info input:hover {
  background-color: #ebebeb;
  border: none;
}

.search-info input:focus {
  font: inherit;
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
}

.calendar {
  width: 38px;
  height: 38px;
  background-color: #f2f2f2;
  border: none;
}

.calendar path {
  fill: #cacaca;
}

.calendar:hover path, .calendar:focus path {
  fill: #000000;
}

.calendar:active path {
  fill: #81b3d2;
}

.date-enter {
  width: 112px;
  padding: 0;
  text-align: left;
}

.form-counter {
  display: flex;
}

.form-counter-common {
  display: flex;
  justify-content: flex-end;
  width: 229px;
  margin-bottom: 54px;
}

.adult {
  padding-right: 3px;
}

.form-counter-common label {
  display: block;
  align-self: center;
  text-align: left;
}

.adult label {
  width: 112px;
}

.children label {
  width: 65px;
}

.form-counter-common input {
  padding: 0;
  width: 38px;
  height: 38px;
  font: inherit;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  background-color: #f2f2f2;
  border: none;
  box-sizing: border-box;
}

.number-button {
  position: relative;
  display: block;
  width: 38px;
  height: 38px;
  border: none;
  background-color: #f2f2f2;
  cursor: pointer;
}

.number-button-minus::before {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 12px;
  height: 3px;
  background-color: #d0d0d0;
}

.number-button-plus::before, .number-button-plus::after {
  content: "";
  position: absolute;
  top: 18px;
  left: 14px;
  width: 12px;
  height: 3px;
  background-color: #d0d0d0;
}

.number-button-plus::after {
  transform: rotate(90deg);
}

.number-button-minus:hover::before, .number-button-minus:focus::before, .number-button-plus:hover::before, .number-button-plus:focus::before, .number-button-plus:hover::after, .number-button-plus:focus::after {
  background-color: #000000;
}

.number-button-minus:active::before, .number-button-plus:active::before, .number-button-plus:active::after {
  background-color: #81b3d2;
}

.button-find {
  width: 458px;
  padding: 16px 0px;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  border: none;
  cursor: pointer;
}

.button-find:hover, .button-find:focus {
  background-color: #669ec0;
}

.button-find:active {
  color: #94b9d2;
  background-color: #5496bd;
}

.input-text::-webkit-input-placeholder {
  color: inherit;
  text-transform: uppercase;
}

.input-text:-ms-input-placeholder {
  color: inherit;
  text-transform: uppercase;
}

.input-text::-ms-input-placeholder {
  color: inherit;
  text-transform: uppercase;
}

.input-text::placeholder {
  color: inherit;
  text-transform: uppercase;
}

.map {
  position: relative;
  height: 593px;
  overflow: hidden;
}

.map-image, .map-interactive {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
}

.map-image {
  z-index: 5;
  width: 1200px;
  height: 593px;
}

.map-interactive {
  z-index: 10;
  width: 1200px;
  height: 593px;
}

.map-interactive iframe {
  border: 0;
}

/* inner-page */

.filters {
  color: #ffffff;
  background-color: #4278a4;
  background-image: url(../img/filter-background.jpg);
  background-repeat: no-repeat;
}

.filter {
  margin: 0;
  padding: 0;
  padding-left: 72px;
  padding-right: 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 26px;
}

.filter-option {
  margin-bottom: 25px;
  padding-left: 40px;
}

.filter-option:last-child {
  margin-bottom: 32px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -40px;
  width: 39px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked+label::after {
  content: "";
  position: absolute;
  left: -39px;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter .infrastructure {
  width: 254px;
  margin: 0;
}

.filter .housing-type {
  width: 254px;
  margin: 0;
}

.infrastructure legend, .housing-type legend {
  margin-bottom: 25px;
}

.filter fieldset {
  padding: 0;
  margin: 0;
  text-align: left;
  border: none;
}

.filter legend {
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}

.filter ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter-input:hover+label, .filter-input:focus+label {
  color: #81b3d2;
}

.filter-input:active+label {
  color: #000000;
  opacity: 0.3;
}

.filter .price {
  width: 320px;
  margin-left: auto;
}

.price legend {
  margin-bottom: 11px;
}

.filter-interval {
  position: relative;
  width: 320px;
  height: 36px;
  margin-bottom: 20px;
  font-size: 0;
  box-sizing: border-box;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.filter-interval::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 2px;
  height: 22px;
  background: #ffffff;
}

.filter-interval label {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  padding-top: 5px;
  cursor: pointer;
}

.filter-interval .max-interval {
  width: 90px;
  padding-left: 60px;
}

.filter-interval .min-interval {
  width: 90px;
  padding-left: 65px;
}

.filter-interval input {
  width: 50px;
  margin: 0;
  color: #ffffff;
  background: transparent;
  border: none;
  line-height: 21px;
}

.filter-range {
  position: relative;
  margin-bottom: 32px;
}

.filter-range-scale {
  height: 2px;
  background: rgba(255, 255, 255, 0.3);
}

.filter-range-bar {
  width: 80%;
  height: 2px;
  background: #ffffff;
}

.filter-range-handle {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  border-radius: 50%;
  background-color: #ababab;
  box-sizing: content-box;
  cursor: pointer;
}

.filter-range-handle:hover {
  background: #1c4f80;
}

.filter-range .min {
  left: 0;
}

.filter-range .max {
  left: 80%;
}

.button-filter {
  width: 137px;
  padding: 5px 0px;
  margin-left: 84px;
  margin-bottom: 34px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.button-filter:hover {
  color: #000000;
  background: #ffffff;
}

.sort {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 30px 72px;
  background: #fefefe;
}

.sort-title {
  margin: 0;
  padding: 0;
  width: 135px;
  margin-right: 29px;
  text-align: left;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.sort-list {
  width: 782px;
  padding-top: 4px;
  font-size: 12px;
  line-height: 18px;
  text-align: left;
}

.sort ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.sort-item {
  display: inline-block;
}

.sort-list li:first-child {
  margin-right: 37px;
}

.sort-list li:nth-child(2), .sort-list li:nth-child(3) {
  margin-right: 30px;
}

.sort-item a {
  color: rgba(0, 0, 0, .3);
  border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
}

.sort-item-current a {
  color: #81b3d2;
  border: none;
}

.sort-item a:hover, .sort-item a:focus {
  color: #81b3d2;
  border-bottom: 1px dotted #81b3d2;
}

.sort-item a:active {
  color: #000000;
  border: none;
}

.sort-icon-up, .sort-icon-down {
  display: inline-block;
  padding-left: 9px;
  padding-top: 5px;
}

.sort-icon {
  width: 110px;
  text-align: right;
  list-style: none;
}

.sort-icon-up:hover path, .sort-icon-down:hover path, .sort-icon-up:focus path, .sort-icon-down:focus path {
  fill: #231f20;
}

.sort-icon-up:active path, .sort-icon-down:active path {
  fill: #81b3d2;
}

.sort-icon-current path {
  fill: #81b3d2;
}

.hotels {
  padding: 30px 72px 30px 72px;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: left;
  background: #fefefe;
  border-top: solid 1px #e5e5e5;
  box-sizing: border-box;
}

.hotels-last {
  border-bottom: solid 1px #e5e5e5;
}

.hotels-image {
  width: 135px;
  height: 90px;
  margin-right: 29px;
}

.hotels-block {
  width: 782px;
}

.hotels-block-box {
  display: inline-block;
  margin-right: 3px;
}

.hotels-block-title {
  margin-bottom: 6px;
  margin-top: -9px;
}

.hotels-block-box span {
  display: block;
  margin-bottom: 17px;
}

.hotels-block-title a {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
}

.hotels-block-title a:hover, .hotels-block-title a:focus {
  color: #81b3d2;
}

.hotels-block-title a:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-info {
  width: 110px;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  background-color: #81b3d2;
  box-sizing: border-box;
}

.button-info:hover, .button-info:focus {
  background-color: #669ec0;
}

.button-info:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.button-book {
  width: 142px;
  padding: 5px 17px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  background-color: #766357;
  box-sizing: border-box;
}

.button-book:hover, .button-book:focus {
  background-color: #604e43;
}

.button-book:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.hotels-rating {
  width: 110px;
  box-sizing: border-box;
}

.stars {
  margin-bottom: 42px;
  margin-top: -10px;
  text-align: right;
}

.stars span {
  font-size: 27px;
  line-height: 27px;
}

.rating-info {
  padding: 5px 10px 5px 15px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
  box-sizing: border-box;
}

.icon-star::before {
  content: "";
  display: inline-block;
  height: 19px;
  width: 19px;
  background-image: url("../img/star.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}